{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Developer</title>
    <link rel="icon" href="{%static 'favicon.png'%}">
    <style>
        body {
            background-color: aliceblue;
            font-family: Arial, Helvetica, sans-serif;
            padding: 20px;
        }
        
        .profile_img_style {
            border-radius: 10%;
            width: 200px;
            height: 200px;
        }
        
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <img src="{%static 'profile_img.jpg'%}" alt="Sai Lin Htut Profile" class="profile_img_style">
    <h2>Sai Lin Htut </h2>
    <hr>
    <h3>Software Developer in Yangon</h3>
    <h4>You can hire me for various softwares. There are many section available for you that are <br>
        <ul>
            <li><a target="_blank" href="{%static 'ecormance_website.html'%}"> Ecormance website</a> </li>
            <li> Ecormance web mobile applications</li>
            <li> Mobile application </li>
            <li> Shopping web application with admin panel</li>
            <li> Blog websites </li>
        </ul>
        <br><br> Phone : <a href="tel:+959252203838">+959252203838</a> <br> Mail : <a href="mailto:sailinhtut76062@gmail.com">sailinhtut76062@gmail.com</a>
    </h4>

</body>

</html>